<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center">Tous les sites</h1>

      <% @sites.each do |site| %>

      <div class="site">
          <div class="upvote-container" id="site-<%= site.id %>">
            <%= render 'upvotes/show', site: site %>
          </div>
        <% if site.image? %>
            <%= image_tag site.image_url, class: "site-image" %>
        <% else %>
            <%= cl_image_tag( site.url,
                             :type => "url2png",
                             :crop => "fill", :width => 300, :height => 200, :gravity => :north,
                             :sign_url => true) %>
        <% end %>
        <div class="site-body">
          <h3><%= link_to site.name, site_path(site) %></h3>

          <p><%= site.shortdesc %></p>
        </div>
        <ul class="list-inline site-controls">
          <li>
            <%= link_to site_path(site) do %>
              <i class="fa fa-eye"></i>
                <%end%>
          </li>
          <li>
            <%= link_to edit_site_path(site) do %>
                <i class="fa fa-pencil"></i>
                <%end%>
          </li>
          <li>
            <%= link_to site_path(site), method: :delete do %>
            <i class="fa fa-trash"></i>
            <%end%>
          </li>
        </ul>

      </div>

      <%end%>

    </div>
  </div>
</div>